TELEGRAM_BOT_TOKEN=8736407815:AAETANQl52vNeVcUrY2wCNoMoYzRyDZ39Ho

AIRTABLE_API_KEY=patkisEzXAdkVKsMF.6937f62c7ac955836ad3728bafdb4e91b34c64f00127ffda53c4d876d2cd0c88
AIRTABLE_BASE_ID=appLGq3NKcizmF04i

ANTHROPIC_API_KEY=sk-ant-xxxxxxxxxxxxxxxxxxxxxxxx

PORT=3000
